@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <span class="navbar-icons"><i class="fas fa-truck"></i></span>
    <span id="cart-status">
        @Model.ShoppingCart.ShoppingCartItems.Count
    </span>
} 